<div class="mb-2">
  <span class="text-xs text-orange-900/60 tracking-wide font-semibold"> CLOUD COVERAGE </span>
</div>
<div class="space-y-3">
  <span class="text-xs text-orange-900/60 tracking-wide font-semibold">high</span>
  <div class="flex items-center justify-between">
    <div class="flex-1 h-3 bg-blue-500/50 ring-2 ring-blue-500/50 rounded-full overflow-hidden">
      <progress
        max="100"
        size="m"
        tuiProgressBar
        class="progress"
        [tuiProgressColorSegments]="highCloudCoverageColors()"
        [value]="100"
      ></progress>
    </div>
  </div>
  <span class="text-xs text-orange-900/60 tracking-wide font-semibold">medium</span>
  <div class="flex items-center justify-between">
    <div class="flex-1 h-3 bg-blue-500/50 ring-2 ring-blue-500/50 rounded-full overflow-hidden">
      <progress
        max="100"
        size="m"
        tuiProgressBar
        class="progress"
        [tuiProgressColorSegments]="midCloudCoverageColors()"
        [value]="100"
      ></progress>
    </div>
  </div>
  <span class="text-xs text-orange-900/60 tracking-wide font-semibold">low</span>
  <div class="flex items-center justify-between">
    <div class="flex-1 h-3 bg-blue-500/50 ring-2 ring-blue-500/50 rounded-full overflow-hidden">
      <progress
        max="100"
        size="m"
        tuiProgressBar
        class="progress"
        [tuiProgressColorSegments]="lowCloudCoverageColors()"
        [value]="100"
      ></progress>
    </div>
  </div>
</div>
