<div class="relative h-4 bg-orange-200/40 rounded-full overflow-hidden">
  <!-- sunrise blue hour -->
  <div
    class="absolute top-0 h-full bg-linear-to-r from-gray-800 to-blue-400 transition-all duration-1000"
    [style.left.%]="(hours().sunrise.bhs / 2400) * 100"
    [style.width.%]="((hours().sunrise.bhe - hours().sunrise.bhs) / 2400) * 100"
  ></div>
  <!-- sunrise golden hour -->
  <div
    class="absolute top-0 h-full bg-linear-to-l from-amber-500 to-orange-600 transition-all duration-1000"
    [style.left.%]="(hours().sunrise.ghs / 2400) * 100"
    [style.width.%]="((hours().sunrise.ghe - hours().sunrise.ghs) / 2400) * 100"
  ></div>
  <!-- sunset golden hour -->
  <div
    class="absolute top-0 h-full bg-linear-to-r from-amber-500 to-orange-600 transition-all duration-1000"
    [style.left.%]="(hours().sunset.ghs / 2400) * 100"
    [style.width.%]="((hours().sunset.ghe - hours().sunset.ghs) / 2400) * 100"
  ></div>
  <!-- sunset blue hour -->
  <div
    class="absolute top-0 h-full bg-linear-to-r from-gray-800 to-blue-400 transition-all duration-1000"
    [style.left.%]="(hours().sunset.bhs / 2400) * 100"
    [style.width.%]="((hours().sunset.bhe - hours().sunset.bhs) / 2400) * 100"
  ></div>
</div>
