<div class="min-h-screen bg-linear-to-b from-orange-50 to-amber-50 p-6">
  <div class="max-w-full mx-auto">
    <!--    header -->
    <div class="text-center mb-8">
      <h1 class="text-lg tracking-widest text-orange-900/60 mb-6">{{ title() }}</h1>
      <div class="flex items-center justify-center gap-1 text-xs text-orange-800/50">
        <tui-icon icon="@tui.map-pin" [style.color]="'var(--tui-background-accent-1)'" />
        @if (cityAndCountry(); as cityAndCountry) {
          <span>{{ cityAndCountry }}</span>
        } @else if (locationError()?.errorDescription) {
          <span>{{ locationError()?.errorDescription }}</span>
        }
      </div>
      <div class="text-xs text-orange-800/50 mt-1">{{ currentDate() }} · {{ currentTime() }}</div>
    </div>

    @if (today(); as today) {
      <div class="mb-5">
        <kr-magic-hours [today]="today"></kr-magic-hours>
      </div>

      <div class="mb-5">
        <kr-sun-visibility [today]="today"></kr-sun-visibility>
      </div>

      <div class="mb-5">
        <kr-cloud-coverage [today]="today"></kr-cloud-coverage>
      </div>

      <div class="mb-5">
        <kr-weather-info [today]="today"></kr-weather-info>
      </div>

      @if (verdictScores(); as verdictScores) {
        <kr-verdict [verdictScores]="verdictScores"></kr-verdict>
      }
    } @else {
      @if (locationError()?.errorCode) {
        <div class="flex justify-center items-center m-25 ml-0 mr-0">
          <span class="text-xs text-orange-900/60 tracking-wide font-semibold"> COULD NOT DETERMINE LOCATION </span>
        </div>
      }
    }
  </div>
</div>
