<div class="flex justify-between items-center mb-2">
  <span class="text-xs text-orange-900/60 tracking-wide font-semibold"> SUN VISIBILITY </span>
</div>
<div class="h-4 bg-orange-200/40 rounded-full overflow-hidden flex">
  <progress
    max="100"
    size="l"
    tuiProgressBar
    class="progress"
    [tuiProgressColorSegments]="sunVisibilityColors()"
    [value]="100"
  ></progress>
</div>
<div class="flex justify-between text-xs text-orange-800/40 mt-1">
  <span>00:00</span>
  <span>12:00</span>
  <span>24:00</span>
</div>
